@mixin featured-article-overlay {
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(176, 176, 176, 0) 31%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(31%, rgba(176, 176, 176, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(176, 176, 176, 0) 31%, rgba(0, 0, 0, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(176, 176, 176, 0) 31%, rgba(0, 0, 0, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(176, 176, 176, 0) 31%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(176, 176, 176, 0) 31%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
}

.article-container {
  display: flex;
  height: 400px;
  background-color: #c4c4c4;

  @media only screen and (max-width: 414px) {
    flex-direction: column;
    height: auto;
  }
}

.left-side {
  height: 400px;
  flex: 1;
  overflow: hidden;
  display: flex;
  position: relative;

  img {
    object-fit: fill;
  }

  @media only screen and (max-width: 414px) {
    height: 250px;
  }
}

.article-overlay {
  @include featured-article-overlay;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.featured-article-details {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: #fff;
  padding: 12px 2.3rem;

  h2 {
    font-size: 2.3vw;
    padding: 0 0 0 8px;
    margin: 0;
  }

  @media only screen and (max-width: 414px) {
    padding: 6px 1rem;

    h2 {
      font-size: 4.5vw;
      padding-bottom: 5px;
      margin: 0;
    }

    h2:before {
      font-weight: 400;
      left: 5px;
      bottom: 33px;
    }
  }
}

.article-title {
  border-left: 3px solid #00c7dd;
}

.featured-article-image {
  height: 100%;
  max-width: 100%;
}

.category {
  display: flex;
  align-items: baseline;
  color: #d4d4d4;

  i {
    margin-right: 8px;
  }

  .category-text {
    font-weight: 600;
    padding: 0;
    margin: 0 0 10px;
  }
}

.read-more {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #e04ab2;

  .link-text {
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: #e04ab2;
  }

  i {
    margin-left: 10px;
    font-size: 20px;
  }

  @media only screen and (max-width: 414px) {
    .text {
      font-size: 12px;
    }
  }
}

.right-side {
  height: 400px;
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: #fff;

  @media only screen and (max-width: 414px) {
    height: auto;
  }
}

.article-thumb {
  border-left: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  width: 100%;

  a {
    text-decoration: none;
    color: #000;
  }
}

.article-thumb .featured-image {
  height: 200px;
  // width: 240px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;

  @media only screen and (max-width: 414px) {
    width: auto;
    height: 100px;
  }
}
img.thumb-article-image.wp-post-image {
  width: 100%;

  @media only screen and (max-width: 320px) {
    width: 100%;
  }

  @media only screen and (min-width: 321px) and (max-width: 375px) {
    width: 100%;
  }

  @media only screen and (min-width: 376px) and (max-width: 414px) {
    width: 100%;
  }
}

.article-thumb-details {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  height: 200px;

  .category {
    flex: 1;
    margin-top: 10px;
  }

  .title {
    flex: 2;
  }

  h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
  }

  > .read-more {
    flex: 1;
    display: flex;
  }

  @media only screen and (max-width: 414px) {
    padding: 0 8px;

    .category {
      margin-top: 4px;
      font-size: 12px;
    }

    p.link-text {
      font-weight: 600;
      margin: 0;
      padding: 0;
      color: #e04ab2;
      font-size: 12px;
    }

    .title {
      flex: 3;
    }

    h2 {
      font-size: 14px;
      line-height: 1.4;
    }
  }
}
