.top-attractions {
  background: $white;
}

.top-attractions-text > p.top-description {
  font-size: $p-lg;
  font-weight: 400;
  margin: 0 0 30px;

  @media only screen and (max-width: 414px) {
    font-size: $p-lg-mobile;
  }
}

.content-body p,
.content-body li {
  font-family: $font__main;
}

.content-body h2 {
  font-family: $font__title-text;
  font-size: $h2-lg;
  font-weight: 600;
  color: $oa-dark-blue;
  margin: 0 0 30px;

  @media only screen and (max-width: 414px) {
    font-size: $h2-lg-mobile;
  }
}

h2.top-title-pink {
  color: $oa-pink;
}

.content-body h3 {
  font-family: $font__title-text;
  font-size: $h3-lg;
  font-weight: 600;
  margin: 0 0 8px;

  @media only screen and (max-width: 414px) {
    font-size: $h3-lg-mobile;
    font-weight: 500;
  }
}

.overlay-text {
  font-family: $font__main;
  font-weight: 100;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.overlay-text > p {
  color: $white;
  font-size: 19px;
  font-weight: 300;
}

.owl-nav {
  position: relative;
  top: -139px;
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  color: #000;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

.fun-things {
  display: flex;

  @media only screen and (max-width: 414px) {
    flex-direction: column;
  }
}

.fun-things .hr-75 {
  border: 0.5px solid $white;
  width: 75%;
}

.fun-things .hr-grey-60 {
  border: 0.5px solid #c6c6c6;
  width: 60%;
  margin: 20px auto 27px;
}

.whats-new {
  flex: 1 1 0;
  padding: 1rem;
  justify-content: center;
  text-align: center;
  color: $white;

  @media only screen and (max-width: 414px) {
    padding: 0;
  }
}

.whats-new > .video-box {
  height: 520px;
  width: 481px;
  background: $oa-dark-blue;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 414px) {
    width: 100%;
  }
}

.video-box .whats-new-video {
  max-height: 267px;
  border-radius: 8px;
  margin-bottom: 12px;
  overflow: hidden;

  @media only screen and (max-width: 414px) {
    margin: 0 8px 12px;
  }
}

.whats-new-text {
  padding: 0 0 21px;

  @media only screen and (max-width: 414px) {
    padding: 0 0 8px;
  }
}

.whats-new-description {
  padding: 0;
  margin: 0;
  font-weight: 300;
}

.coupons-block {
  margin-top: 8px;
}

.coupons-title {
  padding-bottom: 15px;
  font-weight: 300;
}

.button {
  color: $white;
  text-decoration: none;
  font-weight: 200;
  cursor: pointer;
}

.button-yellow {
  padding: 10px 50px;
  background-color: $oa-yellow;
}

.fun-lists {
  flex: 10 10 0;
  padding-top: 20px;
}

h2.fun-title {
  color: $oa-dark-blue;
  font-size: $h2-sm;
  text-align: center;
  font-weight: 800;

  @media only screen and (max-width: 414px) {
    font-size: $h2-sm-mobile;
  }
}

.best-lists {
  display: flex;
  justify-content: space-around;

  @media only screen and (max-width: 414px) {
    flex-direction: column;
  }
}

.best-action {
  min-width: 350px;
}

.best-distraction {
  min-width: 377px;
}

.action-list li a,
.distraction-list li a {
  color: #00f;
  font-size: $p-sm;

  &:hover {
    color: rgba(0, 0, 255, 0.733);
  }

  @media only screen and (max-width: 414px) {
    font-size: $p-sm-mobile;
    text-decoration: underline;
    color: #00f;
  }
}

.action-title,
.distraction-title {
  font-size: $h3-sm;
  color: $oa-dark-blue;
}

.best-lists ul {
  padding-left: 28px;
}

.best-lists ul li {
  font-size: $p-sm;
  padding-bottom: 2px;
  animation: ease-in-out 10s;
}

.best-lists ul li:hover {
  padding-left: 1px;
  animation: ease-in-out 10s;
}

.app-features-list li {
  font-size: 1.125rem;
  font-weight: 300;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  background: $white;
  height: 427px;

  @media only screen and (max-width: 414px) {
    display: none;
  }
}

.app-details-container {
  display: flex;
  flex-direction: row;
  max-height: 370px;
  min-height: 370px;
  background-image: linear-gradient(244deg, #00c7e9 0%, #0095cf 100%);
}

.mock-up-container {
  display: flex;
  flex: 0.85;
  justify-content: flex-end;
  align-items: flex-end;
}

.mock-up-container img {
  margin-bottom: 0.8rem;
}

.app-text {
  flex: 1;
  padding-left: 1.5rem;
}

.app-text h2 {
  color: $white;
  font-size: $h2-sm;
}

.app-features-list ul {
  max-width: 500px;
  max-height: 175px;
  columns: 2;
  color: $white;
}

.app-features-list li {
  list-style-type: none;
  line-height: 1.813rem;
}

.app-text .download-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 540px;
}

.download-links-title {
  color: $white;
  margin: 0;
  line-height: 2;
}

.top-tickets-container {
  background: $white;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: repeat(1, 100%);

  @media only screen and (max-width: 414px) {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 100%);
  }
}

.tickets-container {
  grid-row: 1;
  grid-column: 1 / 2;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 414px) {
    grid-row: 1;
    grid-column: 1 / 1;
    margin-bottom: 50px;
  }
}

.ticket-reviews {
  grid-row: 1;
  grid-column: 2 / 4;
  padding-left: 0.5rem;

  @media only screen and (max-width: 414px) {
    grid-row: 2;
    grid-column: 1 / 1;
  }
}

.ticket-card {
  display: flex;
  flex-direction: column;
  height: 320px;
  width: 210px;
  border-radius: 8px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.17);
  overflow: hidden;
}

.ticket-image {
  height: 120px;
  overflow: hidden;
}

.ticket-image img {
  position: relative;
  top: -25px;
}

.ticket-name {
  flex: 1;
  padding: 0 0.3rem;
}

.ticket-name h3 {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: #154299;
  margin-top: 0;
}

.ticket-prices {
  flex: 1;
  color: $white;
}

.price-text {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 300;
}

.adult-price {
  background-color: #154299;
  width: 90%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 11px;
  padding-left: 0.3rem;
}

.ribbon {
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid $white;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
}

.child-price {
  background-color: #0095cf;
  width: 90%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0.3rem;
}

.ticket-button {
  flex: 1;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: $oa-yellow;
  font-size: 18px;
  font-weight: 500;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

p.ticket-button-text {
  margin: 0;
}

.buy-tickets-button {
  background-color: #154299;
  width: 200px;
  padding: 15px 0;
  margin-top: 10px;
  text-align: center;
}

.buy-tickets-button a {
  text-decoration: none;
  color: $white;
}
