.widget {
  margin: 0 0 3.5em;

  /* Make sure select elements fit in widgets. */
  select {
    max-width: 100%;
  }
}

label > input[type='search'] {
  content: '';
  border-radius: 0;
  border: 2px solid #0078c8;
  width: 314px;
  padding: 8px;
}

form > input[type='submit'] {
  border-radius: 0;
  color: #fff;
  border: 2px solid #0078c8;
  background: #0078c8;
  flex: 1;

  &:hover {
    border-color: #0078c8;
    cursor: pointer;
  }
}

form.search-form {
  display: flex;
  flex: 1;
}

.subscribe-text {
  display: flex;
  flex-direction: column;
  align-items: center;

  > h3 {
    margin: 0;
    font-size: 43px;
    text-transform: uppercase;
    color: #0078c8;
    text-align: center;
  }

  > p {
    font-family: $font__title-text;
    font-weight: 300;
    margin: 2px 0 9px;
    width: 263px;
    text-align: center;
    text-transform: uppercase;
    color: #aaa;
  }
}

form.wpcf7-form {
  display: flex;

  > p {
    margin: 0;
    display: flex;
    align-items: flex-end;
  }
}

.wpcf7-form input[type='submit'] {
  height: 44px;
  border-radius: 0;
  border: 2px solid #0078c8;
  background: #0078c8;
  color: #fff;
}

span > input[type='email'] {
  height: 34px;
  border-radius: 0;
  border: 2px solid #0078c8;
  width: 314px;
  color: rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  font-size: 15px;
  font-weight: 600;

  @media only screen and (max-width: 320px) {
    width: 230px;
  }

  @media only screen and (min-width: 375px) {
    width: 286px;
  }
}

p > label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
}

h2.widget-title {
  color: #767676;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
}

.partner-wrapper img {
  display: block;
  width: 100%;
}

.text {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 0 0 10px 30px;
  color: #fff;

  > h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
  }

  > p.explore {
    margin: 2.5px 0 0;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    border-left: 2px solid #d838aa;
    padding-left: 5px;
  }

  > p.attraction {
    margin: 2.5px 0 0;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    border-left: 2px solid #0078c8;
    padding-left: 5px;
  }
}

.partner-wrapper {
  display: block;
}

.partner-wrapper a {
  display: block;
  position: relative;
  text-decoration: none;
}

.partner-ad-overlay {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 54%, rgba(0, 0, 0, 0.85) 93%, rgba(0, 0, 0, 0.85) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 54%, rgba(0, 0, 0, 0.85) 93%, rgba(0, 0, 0, 0.85) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 54%, rgba(0, 0, 0, 0.85) 93%, rgba(0, 0, 0, 0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000',GradientType=0 ); /* IE6-9 */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
