.partner-wrapper img {
  display: block;
  width: 100%;
}

.text {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.partner-wrapper {
  display: block;
}

.partner-wrapper a {
  display: block;
}
