.hero-container {
  display: flex;
  justify-content: center;
}

.slider-wrapper {
  width: 100%;
  height: 275px;
  background-color: $black;
  color: $white;
}

.slider-wrapper article {
  height: 275px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
}

.slider-img {
  height: 100%;
  width: 100%;
}

.slider-link {
  color: $white;
  position: relative;
  width: 100%;
}

.slider-text-block {
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 100%;
}

.slider-text-block .slider-title {
  font-size: 1.4rem;
  margin: 0 20px 5px;
}

.slider-text-block .slider-description {
  margin: 0 20px 10px;
  font-size: 0.9rem;
  font-weight: 200;
  letter-spacing: 0.04rem;
}

.owl-nav {
  position: relative;
  top: -139px;
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  color: $white;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.owl-item .slider-img {
  opacity: 0.3;
}

.owl-item .slider-text-block {
  visibility: hidden;
}

.owl-item.center .slider-text-block {
  visibility: visible;
}

.active.center .slider-img {
  opacity: 1;
}

.active.center .img-mask {
  position: absolute;
  top: 0;
  height: 275px;
  width: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(33%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 1) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 1) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
