$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$oa-teal: #00c7dd;
$white: #fff;
$black: #000;
$oa-dark-blue: #0874cc;
$oa-light-blue: #0f88eb;
$oa-pink: #e04ab2;
$oa-pink-dark: #d01b99;
$oa-yellow: #ffb042;

@mixin middle-nav-gradient {
  background: rgba(8, 116, 204, 1);
  background: -moz-linear-gradient(-45deg, rgba(8, 116, 204, 1) 0%, rgba(8, 116, 204, 1) 21%, rgba(56, 160, 240, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(8, 116, 204, 1)), color-stop(21%, rgba(8, 116, 204, 1)), color-stop(100%, rgba(56, 160, 240, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(8, 116, 204, 1) 0%, rgba(8, 116, 204, 1) 21%, rgba(56, 160, 240, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(8, 116, 204, 1) 0%, rgba(8, 116, 204, 1) 21%, rgba(56, 160, 240, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(8, 116, 204, 1) 0%, rgba(8, 116, 204, 1) 21%, rgba(56, 160, 240, 1) 100%);
  background: linear-gradient(135deg, rgba(8, 116, 204, 1) 0%, rgba(8, 116, 204, 1) 21%, rgba(56, 160, 240, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0874cc', endColorstr='#38a0f0', GradientType=1 );
}

@mixin bottom-nav-gradient {
  background: rgba(208, 27, 154, 1);
  background: -moz-linear-gradient(-45deg, rgba(208, 27, 154, 1) 0%, rgba(208, 27, 154, 1) 21%, rgba(207, 80, 171, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(208, 27, 154, 1)), color-stop(21%, rgba(208, 27, 154, 1)), color-stop(100%, rgba(207, 80, 171, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(208, 27, 154, 1) 0%, rgba(208, 27, 154, 1) 21%, rgba(207, 80, 171, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(208, 27, 154, 1) 0%, rgba(208, 27, 154, 1) 21%, rgba(207, 80, 171, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(208, 27, 154, 1) 0%, rgba(208, 27, 154, 1) 21%, rgba(207, 80, 171, 1) 100%);
  background: linear-gradient(135deg, rgba(208, 27, 154, 1) 0%, rgba(208, 27, 154, 1) 21%, rgba(207, 80, 171, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d01b9a', endColorstr='#cf50ab', GradientType=1 );
}
