$font__main: 'Open Sans', sans-serif;
$font__title-text: 'Montserrat', sans-serif;
$font__code: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__pre: 'Courier 10 Pitch', Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$p-lg: 1.4rem; /* Mobile */
$p-sm: 1.125rem; /* 20px */
$h2-lg: 3.125rem; /* 50px */
$h2-sm: 1.75rem; /* 28px */
$h3-lg: 1.625rem; /* 26px */
$h3-sm: 1.375rem; /* 22px */

/* Mobile */
$h2-lg-mobile: 2rem; /* 32px */
$p-lg-mobile: 1rem; /* 16px */
$p-sm-mobile: 1rem;
$h2-sm-mobile: 1.375rem; /* 22px */
$h3-lg-mobile: 1.375rem; /* 20px */
