header {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.04rem;
}

.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0874cc;
  padding: 0 2.3rem;

  > .slogan {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 200;
    margin: 0;
  }

  > ul {
    display: flex;
    list-style: none;
    padding: 6px 0;
    margin: 0;
  }

  > ul li a {
    padding-left: 1.1rem;
    font-size: 0.9rem;
    font-weight: 200;
    color: #fff;
    text-decoration: none;
  }

  > ul li a:hover {
    color: #c4c4c4;
    text-decoration: underline;
  }

  @media only screen and (max-width: 414px) {
    display: none;
  }
}

.navbar-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0.8rem 2.3rem;
  overflow: hidden;

  @media only screen and (max-width: 414px) {
    padding: 0 0.625rem;
  }
}

.logo img {
  @media only screen and (max-width: 414px) {
    width: 300px;
  }
}

.navbar-middle > img.logo {
  padding: 15px 0;
}

.middle-nav > .middle-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.middle-links > .menu-links a {
  font-size: 1.1rem;
  font-weight: 400;
  color: #0874cc;
  text-decoration: none;
  text-transform: uppercase;
  padding: 30px 15px;
}

.middle-links > .menu-links a:hover {
  color: #fff;
  background-color: #0874cc;
}

.navbar-bottom {
  display: flex;
  background-color: #e04ab2;
  height: 60px;
  overflow: hidden;
}

.navbar-bottom > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0 0 0 2.5rem;
}

.navbar-bottom > ul li {
  padding: 10px 15px;
}

.navbar-bottom > ul li:hover {
  background-color: #d01b99;
}

i.fa.fa-angle-down {
  display: flex;
  align-items: flex-end;
  margin-left: 0.4rem;
}

.bottom-links > .ticket-links a {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}

.buy-tickets {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #0177c1;
  color: #fff;
  width: 160px;
  position: relative;
  padding-left: 2.3rem;
  font-size: 1.375rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 5;

  > p {
    margin: 0;
  }
}

.buy-tickets:hover {
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

.buy-tickets:before {
  content: '';
  position: absolute;
  left: 70%;
  z-index: -2;
  height: 80px;
  width: 80px;
  background-color: #0177c1;
  transform: rotate(45deg);
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}
