header {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.04rem;
}

.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $oa-dark-blue;
  padding: 0 2.3rem;

  > .slogan {
    color: $white;
    font-size: 1.1rem;
    font-weight: 200;
    margin: 0;
  }

  > .top-links {
    display: flex;
    list-style: none;
    padding: 6px 0;
    margin: 0;
  }

  > .top-links li a {
    padding-left: 1.1rem;
    font-size: 0.9rem;
    font-weight: 200;
    color: $white;
    text-decoration: none;
  }

  > .top-links li a:hover {
    color: #c4c4c4;
    text-decoration: underline;
  }

  @media only screen and (max-width: 414px) {
    display: none;
  }
}

.navbar-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  padding: 0 2.3rem;
  overflow: hidden;

  button#navbar-toggle {
    display: none;
    visibility: hidden;
    opacity: 0;
    background: $white;
  }

  @media only screen and (max-width: 414px) {
    padding: 20px 0.6rem;

    img {
      width: 90%;
    }

    .menu-toggle {
      display: block;
    }

    &.toggled ul {
      display: block;
      padding: 0;
    }

    button#navbar-toggle {
      display: block;
      visibility: visible;
      opacity: 1;
    }
  }
}

.middle-nav {
  @media only screen and (max-width: 414px) {
    position: absolute;
    z-index: 7777;
    background-color: $white;
    top: 77.98px;
    right: 0;
    width: 100vw;
    -webkit-box-shadow: 0px 13px 43px -18px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 13px 43px -18px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 13px 43px -18px rgba(0, 0, 0, 0.75);
  }
}

.middle-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;

  > li a {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 90px;
    color: $oa-dark-blue;
    text-decoration: none;
    text-transform: uppercase;
    padding: 34px 10px;
  }

  li:hover > a {
    color: $white;
    background-color: $oa-dark-blue;
  }

  @media only screen and (max-width: 414px) {
    display: none;

    > li a {
      display: block;
      line-height: 58px;
      color: $oa-dark-blue;
      padding: 0 50px 0 10px;
      font-size: 1rem;
    }
  }
}

.middle-links ul {
  @include middle-nav-gradient;
  visibility: hidden;
  opacity: 0;
  display: none;
  position: absolute;
  z-index: 5555;
  list-style: none;
  padding: 0;

  > li {
    max-height: 40px;
  }

  > li a {
    color: $white;
    font-size: 0.9rem;
    padding: 10px 30px 10px 10px;
    line-height: 20px;
    text-decoration: none;
    display: block;
    text-transform: none;
  }

  li:hover > a {
    color: $oa-light-blue;
    background-color: $white;
  }
}

.middle-links ul ul {
  background-color: $oa-dark-blue;
  visibility: hidden;
  opacity: 0;
  display: none;
  position: relative;
  left: 225px;
  top: -40px;
  -webkit-box-shadow: -9px 0 30px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -9px 0 30px -13px rgba(0, 0, 0, 0.75);
  box-shadow: -9px 0 30px -13px rgba(0, 0, 0, 0.75);

  > li a {
    color: $white;
    font-size: 0.9rem;
    padding: 10px 15px;
    line-height: 20px;
    text-decoration: none;
    display: block;
    text-transform: none;
  }

  li:hover > a {
    color: $oa-dark-blue;
    background-color: $white;
  }
}

.middle-links li:hover > ul {
  visibility: visible;
  opacity: 1;
  display: block;
  -webkit-animation: slide-bottom 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.middle-links li:hover > ul ul {
  -webkit-animation: slide-right 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

ul li ul li > a:after {
  content: '\00bb';
  position: absolute;
  right: 6px;
  font-size: 1.3rem;
  font-weight: 100;
}

ul li ul li > a:only-child:after {
  content: '';
}

.navbar-bottom {
  display: flex;
  background-color: $oa-pink;
  height: 60px;
  overflow: hidden;

  @media only screen and (max-width: 414px) {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    ::-webkit-scrollbar {
      display: none;
    }
  }
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0 0 0 2.5rem;

  > li a {
    padding: 6px 12px;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 200;
    color: $white;
    text-decoration: none;
    line-height: inherit;
  }

  li:hover > a {
    background-color: $oa-pink-dark;
  }

  @media only screen and (max-width: 414px) {
    padding: 0;
  }
}

.bottom-links ul {
  @include bottom-nav-gradient;
  visibility: hidden;
  opacity: 0;
  display: none;
  position: absolute;
  z-index: 5555;
  list-style: none;
  padding: 0;

  > li {
    max-height: 45px;
  }

  > li a {
    color: $white;
    font-size: 0.9rem;
    padding: 10px 30px 10px 10px;
    text-decoration: none;
    display: block;
    text-transform: none;
  }

  li:hover > a {
    color: $white;
    background-color: $oa-pink;
  }
}

.bottom-links li:hover > ul {
  visibility: visible;
  opacity: 1;
  display: block;
  -webkit-animation: slide-bottom 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  @media only screen and (max-width: 414px) {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}

i.fas.fa-bars {
  font-size: 24px;
  color: #154299;
}

i.fa.fa-ticket-alt {
  padding-right: 0.3rem;
}

i.fa.fa-angle-down {
  display: flex;
  align-items: flex-end;
  margin-left: 0.4rem;

  @media only screen and (max-width: 414px) {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}

.buy-tickets {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #0177c1;
  color: #fff;
  width: 160px;
  position: relative;
  padding-left: 2rem;
  font-size: 1.375rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 5;

  > p {
    margin: 0;
  }

  > i.icon-tags {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  @media only screen and (max-width: 414px) {
    display: block;
    padding: 7px 6px;
    text-align: center;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);

    > p {
      font-size: 10px;
      margin-top: 4px;
    }

    > i.icon-tags {
      display: block;
      visibility: visible;
      opacity: 1;
      text-align: center;
      font-size: 1.8rem;
    }
  }
}

.buy-tickets:hover {
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

.buy-tickets:before {
  content: '';
  position: absolute;
  left: 70%;
  z-index: -2;
  height: 80px;
  width: 80px;
  background-color: #0177c1;
  transform: rotate(45deg);
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;

  @media only screen and (max-width: 414px) {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
