.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.content-body {
  margin: 3.875rem 2.3rem;

  @media only screen and (max-width: 414px) {
    margin: 2.3rem 0.625rem;
  }
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
