.sticky {
  display: block;
}

.post-main {
  display: flex;
  padding-left: 2.3rem;
  padding-right: 2.3rem;

  > .content-body {
    order: 0;
    flex: 5 3 auto;
  }

  > .news-body {
    order: 0;
    flex: 5 3 auto;
    margin: 3.875rem 2.3rem 3.875rem 0;
  }

  @media only screen and (max-width: 1024px) {
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;

    > .news-body {
      margin: 3.875rem 0;
    }
  }

  @media only screen and (max-width: 414px) {
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.post-body {
  flex: 5 3 auto;
  margin-right: 2.3rem;
  order: 0;

  @media only screen and (max-width: 414px) {
    margin: 0;
    overflow: hidden;
    width: auto;
  }
}

.hentry {
  margin: 0 0 4.5em;

  @media only screen and (max-width: 414px) {
    margin: 0 0 2.5em;
  }
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.content-body {
  margin: 3.875rem 2.3rem;

  h2.entry-title {
    margin: 0;
  }

  @media only screen and (max-width: 414px) {
    margin: 2.3rem 0.625rem;
    overflow: hidden;

    h2.entry-title {
      line-height: 1.3;
      padding-bottom: 10px;
    }
  }
}

.container {
  margin: auto;
  width: 100%;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.news-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.news-cell {
  width: calc(100% / 3);
  padding: 3px;
  position: relative;
  height: 260px;
  overflow: hidden;
}

@media screen and (max-width: 1240px) {
  .news-cell {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .news-cell {
    width: 100%;
  }
}

.news-cell img {
  display: block;
  height: 100%;
  width: 100%;
}

.responsive-image {
  max-width: 100%;
}

.news-title {
  display: flex;
  align-items: flex-end;
  position: absolute;
  background: linear-gradient(transparent, rgba(30, 30, 30, 1));
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 3px;
  height: 150px;
}

.news-title h2 {
  color: #fff;
  font-size: 20px;
  padding: 0 6px 6px;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

a.moretag {
  background-color: #0078c8;
  color: #fff;
  text-decoration: none;
  line-height: 3;
  padding: 10px 15px;

  @media only screen and (max-width: 414px) {
    line-height: 5;
  }
}

.post-aside {
  flex: 2 1 auto;
  order: 1;
  margin-top: 3.875rem;

  @media only screen and (max-width: 414px) {
    width: auto;
  }
}

h1.entry-title {
  margin: 0;
  padding-bottom: 26px;
  font-size: 46px;
  color: #0078c8;

  @media only screen and (max-width: 414px) {
    font-size: 30px;
  }
}

h2.entry-title a {
  text-decoration: none;
  font-size: 2rem;
}

.entry-meta {
  color: #b3b3b3;
  font-weight: 600;
  padding-bottom: 40px;
}

.post-thumbnail {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-bottom: 34px;

  img {
    width: 100%;
  }

  @media only screen and (max-width: 414px) {
    max-height: 200px;
  }
}

.entry-content {
  margin: 0;

  p {
    font-size: 18px;
    margin: 0;
  }

  h2 {
    font-size: 22px;
    color: #154299;
  }

  img {
    width: 100%;
    height: auto;
  }

  @media only screen and (max-width: 414px) {
    p {
      font-size: 16px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
